{% use '@TalesFromADevFlowbite/form/default.html.twig' %}

{% block class_label -%}
    block mb-2 font-normal text-gray-900 text-sm
{%- endblock class_label %}

{% block class_input_text -%}
    text-gray-900 rounded text-sm block w-full p-2.5 border border-gray-300 focus:z-10 focus:ring-blue-500 focus:border-blue-500
{%- endblock class_input_text %}

{% block class_select -%}
    {{ block('class_input_text') }}
{%- endblock class_select %}

{% block class_textarea -%}
    {{ block('class_input_text') }}
{%- endblock class_textarea %}

{% block class_label_error -%}
    block mb-2 font-normal text-red-600 text-xs
{%- endblock class_label_error %}

{% block class_input_error -%}
    bg-red-50 border-red-500 text-red-900 placeholder-red-700 text-xs
{%- endblock class_input_error %}

{% block class_text_error -%}
    mt-2 text-red-600 text-xs
{%- endblock class_text_error %}

{% block class_input_file -%}
    block w-full text-sm text-gray-900 border border-gray-300 rounded cursor-pointer file:bg-red-500 file:text-white file:hover:bg-red-400 file:border-0 file:py-2.5 file:px-4
{%- endblock class_input_file %}

{% block _search_form_cuisine_row %}
    {% for choice in form.vars.choices %}
        <div class="mb-3 pt-3 hover:text-red-500">
            <label class="flex items-center cursor-pointer">
                <input type="checkbox"
                       id="{{ form.vars.id }}"
                       name="{{ form.vars.full_name }}"
                       value="{{ choice.value }}"
                        {% if form.vars.data == choice.label|lower %} checked{% endif %}
                       class="sr-only peer">
                <span class="relative w-11 h-6 bg-gray-200 peer-checked:bg-red-500 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all"></span>
                <span class="ms-3 text-primary-90"> {{ choice.label }}</span>
            </label>
        </div>
    {% endfor %}
    {{ form_errors(form) }}
{% endblock %}

{% block checkbox_row %}
    <div class="mb-3 pt-3 hover:text-red-500">
        <label class="flex items-center cursor-pointer">
            <input type="checkbox"{% if form.vars.checked or 'checked' in form.vars.attr|keys %} checked{% endif %}
                   id="{{ form.vars.id }}"
                   name="{{ form.vars.full_name }}"
                   value="{{ form.vars.value }}"
                   class="sr-only peer">
            <span class="relative w-11 h-6 bg-gray-200 peer-checked:bg-red-500 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all"></span>
            <span class="ms-3 text-primary-90">{{ form.vars.label }}</span>
        </label>
        {{ form_errors(form) }}
    </div>
{% endblock %}

{%- block _recipe_instructions_row -%}
    <div class="mb-6 h-[500px]" data-controller="quill">
        <div class="hidden"> {{ form_label(form, null, {'label_attr': {'data-quill-target': 'label'}}) }}</div>
        <div data-quill-target="editor" id="{{ form.vars.id }}" class="max-w-full"></div>
        <input data-quill-target="input" type="hidden" class="max-w-full"
               name="{{ form.vars.full_name }}"{% if value is not empty %} value="{{ value }}"{% endif %} />
    </div>
    {{ form_errors(form) }}
{%- endblock -%}


