{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <img src="{{ asset('/images/cta.jpg') }}" class="rounded-2xl w-full m-auto h-[50vh] object-cover overflow-hidden mb-10" alt="">

    <div class="lg:flex lg:gap-10 pt-10">
        <div class="w-1/4 hidden lg:block">
            <twig:Subtitle
                tag="h2"
                label="Recipes"/>

            <div id="accordion-nested-parent" data-accordion="collapse" class="mt-10">
                <h2 id="accordion-collapse-heading-1">
                    <button type="button" class="flex items-center justify-between w-full text-black" data-accordion-target="#accordion-collapse-body-1" aria-expanded="false" aria-controls="accordion-collapse-body-1">
                        <span>Dish Type</span>
                        <span class="w-4">
                            {{ ux_icon('plus-solid') }}
                        </span>

                    </button>
                </h2>
                <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
                    <div class="pl-3">
                        <ul>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Meat
                                </label>
                            </li>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Sea food
                                </label>
                            </li>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Vegetarian
                                </label>
                            </li>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Protein foods
                                </label>
                            </li>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Pastas
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <h2 id="accordion-collapse-heading-2" class="mt-6">
                    <button type="button" class="flex items-center justify-between w-full text-black" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
                        <span>Meal Type</span>
                        <span class="w-4">
                            {{ ux_icon('plus-solid') }}
                        </span>

                    </button>
                </h2>
                <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                    <div class="pl-3">
                        <ul>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Breakfast
                                </label>
                            </li>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Brunch
                                </label>
                            </li>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Lunch
                                </label>
                            </li>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Dinner
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

                <h2 id="accordion-collapse-heading-3" class="mt-6">
                    <button type="button" class="flex items-center justify-between w-full text-black" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
                        <span>Allergies</span>
                        <span class="w-4">
                            {{ ux_icon('plus-solid') }}
                        </span>

                    </button>
                </h2>
                <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
                    <div class="pl-3">
                        <ul>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Nuts
                                </label>
                            </li>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Gluten
                                </label>
                            </li>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Fish
                                </label>
                            </li>
                            <li class="pt-3 hover:text-red-500" >
                                <label for="checkbox">
                                    <input type="checkbox" class="pt-1">
                                    Dairy
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="lg:w-3/4">
            {{ form_start(form, {'method': 'GET'}) }}
            {{ form_row(form.search) }}
            <div class="grid md:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-6 gap-4 mb-10">
                <twig:Button
                        label="Search"/>
                {{ form_end(form) }}
                <twig:Button
                        label="Clear filter"
                        variant="white" type="reset"
                        data-controller="reset-search" data-action="reset-search#reset"/>
            </div>
            <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-x-10 gap-y-5 ">
                {% for recipe in recipes %}
                    <a href="{{ path('recipe_show', {'uuid':recipe.uuid}) }}" class="md:w-1/2 m-auto lg:w-full mb-10 rounded-2xl shadow">
                        {% if recipe.imageName %}
                            <img class="w-full object-cover overflow-hidden rounded-t-xl" src="{{ vich_uploader_asset(recipe, 'image') }}" alt="{{ recipe.name }}">
                        {% endif %}
                        <div class="flex w-1/2 gap-x-2 py-1 px-3 m-auto xl:w-full">
                            <div class="w-4 self-center">{{ ux_icon('clock-regular') }}</div> <p>{{ recipe.time }} min</p>
                        </div>
                        <h2 class="text-xl w-1/2 font-semibold text-center p-2 xl:w-full  m-auto">{{ recipe.name }}</h2>
                        <div class="flex gap-x-2 p-2 rounded">

                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
