<aside id="logo-sidebar"
       class="fixed top-0 {{ is_granted('IS_IMPERSONATOR') ? 'pt-28' : 'pt-20' }} left-0 z-40 w-96 h-screen transition-transform -translate-x-full border-r lg:hidden "
       aria-label="Sidebar">
    <div class="h-full p-3 overflow-y-auto bg-gray-50">
        <ul class="space-y-2 font-medium">
            <li class="py-4">
                <twig:Sidebar:Item
                        path="{{ path('recipe_index') }}"
                        label="Search recepies"
                />
            </li>
            <li class="py-4">
                <twig:Sidebar:Item
                        path="{{ path('recipe_saved') }}"
                        label="My recepies"
                />
            </li>
            <li class="py-4">
                <twig:Sidebar:Item
                        path="{{ path('recipe_add') }}"
                        label="Add own recepies"
                />
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="py-4">
                    <twig:Sidebar:Item
                            path="{{ path('recipe_manage') }}"
                            label="Manage recipes"
                    />
                </li>
            {% endif %}
        </ul>
    </div>
</aside>