{% set recipes = this.recipes %}
{% set i = 0 %}

{# Dish Type Fields #}
{% set meatField = form_row(form.meat) %}
{% set seaFoodField = form_row(form.seaFood) %}
{% set vegetarianField = form_row(form.vegetarian) %}
{% set proteinFoodsField = form_row(form.proteinFoods) %}
{% set pastasField = form_row(form.pastas) %}

{# Meal Type Fields #}
{% set breakfastField = form_row(form.breakfast) %}
{% set brunchField = form_row(form.brunch) %}
{% set lunchField = form_row(form.lunch) %}
{% set dinnerField = form_row(form.dinner) %}
{% set cocktailField = form_row(form.cocktail) %}

{# Allergies Fields #}
{% set nutsField = form_row(form.nuts) %}
{% set glutenField = form_row(form.gluten) %}
{% set seaFoodAllergiesField = form_row(form.seaFoodAllergies) %}
{% set dairyField = form_row(form.dairy) %}

{# World Cuisine Fields #}
{% set italian = form_row(form.italian) %}
{% set mexican = form_row(form.mexican) %}
{% set greek = form_row(form.greek) %}
{% set chinese = form_row(form.chinese) %}
{% set japanese = form_row(form.japanese) %}
{% set french = form_row(form.french) %}
{% set american = form_row(form.american) %}

<div{{ attributes }}>
    {% for  type, messages in app.flashes %}
        {% for message in messages %}
            <twig:Alert
                    type="{{ type }}"
                    message="{{ message }}"/>
        {% endfor %}
    {% endfor %}

    {# Header / CTA #}
    <img src="{{ asset('/images/posible-cta2.jpg') }}"
         class="rounded-2xl w-full m-auto h-[50vh] object-cover overflow-hidden lg:mb-10" alt="">
    <div class="lg:mt-[-35px]">
        Showing <b>{{ this.amount }}</b> recipes
    </div>

    <div class="absolute ml-3 lg:ml-20 mt-[-18rem] lg:mt-[-22rem] bg-black/40 p-5 rounded-lg">
        <h1 class="text-white text-2xl sm:text-4xl">
            Explore Your Saved <br>and Created Recipes
        </h1>
        <p class="text-white mt-10">
            Don't know what to eat yet?
            <br>
            Try our fun way to find new recipes!
        </p>
        <twig:Link
                class="mt-3"
                label="Find new recipes"
                href="{{ path('app_home') }}"
                icon="{{ ux_icon('arrow-right-solid') }}"
        />
    </div>
    {# End header / CTA #}

    {# Start content #}
    {{ form_start(form, {'method': 'GET'}) }}
    <div class="lg:flex lg:gap-10">
        {# Recipe filter desctop #}
        <div class="lg:w-1/4 h-fit">
            <div class="flex lg:block lg:flex gap-x-5 items-center justify-between">
                <twig:Subtitle
                        tag="h2"
                        label="Filter recipes"
                        class="mb-3"
                />
                <twig:Button
                        label="Clear filter"
                        class="!text-sm font-normal lg:mt-3 lg:mt-2 !py-2 "
                        variant="white"
                        data-action="live#action"
                        data-live-action-param="clearFilter"/>
            </div>

            <div class="flex items-center items-center gap-x-3">
                <div class="flex-1" data-controller="prevent-enter">
                    {{ form_row(form.name) }}
                </div>
                <button id="multiLevelDropdownButton" data-dropdown-toggle="multi-dropdown-mobile"
                        data-dropdown-placement="left-start"
                        class="text-black mt-5 mr-2 lg:hidden"
                        type="button">
                    <div class="text-black w-5">{{ ux_icon('filter') }}</div>
                </button>
            </div>

            <div class="flex items-center gap-x-3">
                <div class="flex-1" data-controller="prevent-enter">
                    {{ form_row(form.ingredients) }}
                </div>
            </div>

            <div class="bg-white divide-y lg:divide-none divide-gray-100  hidden lg:block">
                <twig:Dropdown label="Dish Type" class="mt-3" isHidden="{{ false }}">
                    <twig:Dropdown:Item
                            label="meat">
                        {{ meatField|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ seaFoodField|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ vegetarianField|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ proteinFoodsField|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ pastasField|raw }}
                    </twig:Dropdown:Item>
                </twig:Dropdown>

                <twig:Dropdown label="Meal Type" class="mt-5" isHidden="{{ false }}">
                    <twig:Dropdown:Item>
                        {{ breakfastField|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ brunchField|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ lunchField|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ dinnerField|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ cocktailField|raw }}
                    </twig:Dropdown:Item>
                </twig:Dropdown>

                <twig:Dropdown label="Allergies" class="mt-5" isHidden="{{ false }}">
                    <twig:Dropdown:Item>
                        {{ nutsField|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ glutenField|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ seaFoodAllergiesField|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ dairyField|raw }}
                    </twig:Dropdown:Item>
                </twig:Dropdown>

                <twig:Dropdown label="World Cuisine" class="mt-5" isHidden="{{ false }}">
                    <twig:Dropdown:Item>
                        {{ italian|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ mexican|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ greek|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ chinese|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ japanese|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ french|raw }}
                    </twig:Dropdown:Item>
                    <twig:Dropdown:Item>
                        {{ american|raw }}
                    </twig:Dropdown:Item>
                </twig:Dropdown>
            </div>
        </div>

        {# View of search fields and recipes #}
        <div class="lg:w-3/4">
            <div class="flex items-center gap-x-5">
                {# Search on name #}


                {# Recipe filter mobile #}

                <div id="multi-dropdown-mobile"
                     class="z-10 bg-white hidden divide-y divide-gray-100 rounded w-3/4 shadow absolute lg:hidden">
                    <twig:Dropdown label="Dish Type" class="p-3">
                        <twig:Dropdown:Item>
                            {{ meatField|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ seaFoodField|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ vegetarianField|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ proteinFoodsField|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ pastasField|raw }}
                        </twig:Dropdown:Item>
                    </twig:Dropdown>

                    <twig:Dropdown label="Meal Type" class="p-3">
                        <twig:Dropdown:Item>
                            {{ breakfastField|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ brunchField|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ lunchField|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ dinnerField|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ cocktailField|raw }}
                        </twig:Dropdown:Item>
                    </twig:Dropdown>

                    <twig:Dropdown label="Allergies" class="p-3">
                        <twig:Dropdown:Item>
                            {{ nutsField|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ glutenField|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ seaFoodAllergiesField|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ dairyField|raw }}
                        </twig:Dropdown:Item>
                    </twig:Dropdown>

                    <twig:Dropdown label="World Cuisine" class="p-3">
                        <twig:Dropdown:Item>
                            {{ italian|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ mexican|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ greek|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ chinese|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ japanese|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ french|raw }}
                        </twig:Dropdown:Item>
                        <twig:Dropdown:Item>
                            {{ american|raw }}
                        </twig:Dropdown:Item>
                    </twig:Dropdown>
                </div>
            </div>

            {# Recipes display #}
            <div class="recipeGrid" data-controller="scroll">
                <div id="results" class="grid lg:grid-cols-2 lg:grid-cols-3 gap-5 ">
                    {% for recipe in recipes %}
                        <article
                                id="recipe--{{ page }}-{{ loop.index }}"
                                class="recipeGrid_item rounded-2xl shadow"
                        >
                            <a href="{{ path('recipe_show', {'uuid':recipe.recipe.uuid}) }}"
                               class="w-full md:w-1/2 m-auto lg:w-full rounded-2xl  h-full">
                                {% if recipe.recipe.imageName %}
                                    <img class="w-full h-52 object-cover overflow-hidden rounded-t-2xl"
                                         src="{{ vich_uploader_asset(recipe.recipe, 'image') }}"
                                         alt="{{ recipe.recipe.name }}">
                                {% endif %}
                                <div class="flex gap-x-2 py-2 px-3 m-auto justify-around">
                                    <div class="flex gap-x-2 whitespace-nowrap">
                                        <div class="w-4 self-center">{{ ux_icon('clock') }}</div>
                                        <p>{{ recipe.recipe.time }} min</p>
                                    </div>
                                    <div class="flex gap-x-2 whitespace-nowrap">
                                        <div class="w-4 self-center">{{ ux_icon('star-solid') }}</div>
                                        <p>{{ recipe.recipe.rating['score'] }}({{ recipe.recipe.rating['count'] }})</p>
                                    </div>
                                    <div class="flex gap-x-2 whitespace-nowrap">
                                        <div class="w-4 self-center">{{ ux_icon('user-group') }}</div>
                                        <p>{{ recipe.recipe.people }}</p>
                                    </div>
                                    {% if recipe.recipe.createdBy == app.user %}
                                        <div class="flex gap-x-2 whitespace-nowrap">
                                            <div class="w-3 self-center">{{ ux_icon('user-solid') }}</div>
                                        </div>
                                    {% else %}
                                        <div class="flex gap-x-2 whitespace-nowrap">
                                            <div class="w-3 self-center">{{ ux_icon('bookmark') }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                                <h2 class="text-xl w-2/3 font-semibold text-center p-2 py-3 md:w-full m-auto">{{ recipe.recipe.name }}</h2>
                                <div class="flex gap-x-2 p-2 rounded">

                                </div>
                            </a>
                        </article>
                    {% endfor %}

                    {% if this.hasMore %}
                        {% for i in 1..per_page %}
                            <article id="item--{{ page + 1 }}-{{ i }}"
                                     class="recipeGrid_item"
                                     style="--i: {{ (page * per_page) + i - 1 }};"

                                    {% if loop.first %}
                                        data-scroll-target="loader"
                                        data-action="scroll->live#action"
                                        data-live-action-param="debounce(200)|more"
                                    {% endif %}
                            >
                                <div class="shadow rounded-md w-full mx-auto">
                                    <div class="animate-pulse w-full pb-8 ">
                                        <div class="bg-gray-300 w-full h-52 object-cover overflow-hidden rounded-t-xl"></div>
                                        <div class="flex w-1/2 gap-x-2 py-2 px-3 m-auto lg:w-full justify-around pt-3">
                                            <div class="h-2 bg-gray-300 rounded w-1/2"></div>
                                            <div class="h-2 bg-gray-300 rounded w-1/2"></div>
                                            <div class="h-2 bg-gray-300 rounded w-1/2"></div>
                                        </div>
                                        <div class="h-2 bg-gray-300 rounded w-3/4 m-auto mt-7"></div>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if not this.hasMore %}
                    <div class="flex justify-center w-full pt-5">
                        <twig:Button
                                label="Go to top"
                                onclick="topFunction()"
                                variant="white"
                        />
                    </div>
                    <div class="flex justify-center w-full text-red-500 text-sm py-3">
                        This will clear your filter
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
