<div{{ attributes }} >
    {{ form_start(form) }}

    <div class="w-full shadow p-3 ">
        <twig:Subtitle tag="h2" label="General information" class="font-normal pb-2"/>
        <div class="xl:flex gap-x-5 ">
            <div class="w-full">
                <div> {{ form_row(form.image) }}</div>
                <div>{{ form_row(form.description) }}</div>
            </div>
            <div class="w-full">
                <div>{{ form_row(form.name) }}</div>
                <div>{{ form_row(form.mealType) }}</div>
                <div class="flex gap-x-5 w-full">
                    <div class="w-full">{{ form_row(form.time) }}</div>
                    <div class="w-full">{{ form_row(form.people) }}</div>
                </div>
            </div>
        </div>
    </div>


    <div class="w-full shadow p-3 mt-5 ">
        <twig:Subtitle tag="h2" label="Recipe ingredients" class="font-normal pb-2"/>
        {% for ingredient in form.recipeIngredients %}
            <div class="py-2 xl:flex gap-x-3">
                <div class="flex-grow">
                    {{ form_row(ingredient.ingredient) }}
                </div>
                <div class="grid grid-cols-2 gap-x-3">
                    <div class="">{{ form_row(ingredient.quantity) }}</div>
                    {{ form_row(ingredient.unit) }}
                </div>
                <div class=" md:pb-0">
                    {{ form_row(ingredient.vars.button_delete, { label: "Delete", attr: { class: 'text-red-500 rounded border border-red-500 text-sm py-2 px-4 mt-6' } }) }}
                </div>
            </div>

        {% endfor %}

        <div class="pb-5">
            {{ form_widget(form.recipeIngredients.vars.button_add, {label: 'Add Ingredient', attr: {class: 'bg-red-500 text-white rounded py-2 mt-6 px-4 text-sm'}}) }}
        </div>
        {{ form_errors(form.recipeIngredients) }}
    </div>

    <div class="w-full shadow mt-5 p-3">
        <twig:Subtitle tag="h2" label="Recipe instructions" class="font-normal pb-2"/>
        <div class="w-full mb-14" data-live-ignore>
            {{ form_row(form.instructions) }}
        </div>
        {{ form_row(form.publish) }}
        <twig:Button
                label="Submit"/>
    </div>


    {{ form_end(form) }}
</div>


