{% set recipes = this.recipes %}
<div{{ attributes }}>
    <img src="{{ asset('/images/cta.jpg') }}"
         class="rounded-2xl w-full m-auto h-[50vh] object-cover overflow-hidden mb-10" alt="">
    {{ form_start(form, {'method': 'GET'}) }}
    <div class="lg:flex lg:gap-10 pt-10">
        <div class="w-1/4 hidden lg:block ">
            <div class="flex gap-x-5 items-center">
                <twig:Subtitle
                        tag="h2"
                        label="Recipes"
                        class="pt-3"/>
            </div>
            <twig:Accordion label="Dish Type" id="dish-type">
                <twig:Accordion:Item>
                    {{ form_row(form.meat) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.seaFood) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.vegetarian) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.proteinFoods) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.pastas) }}
                </twig:Accordion:Item>
            </twig:Accordion>

            <twig:Accordion label="Meal Type" id="meal-type">
                <twig:Accordion:Item>
                    {{ form_row(form.breakfast) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.brunch) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.lunch) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.dinner) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.cocktail) }}
                </twig:Accordion:Item>
            </twig:Accordion>

            <twig:Accordion label="Allergies" id="allergies">
                <twig:Accordion:Item>
                    {{ form_row(form.nuts) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.gluten) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.seaFoodAllergies) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.dairy) }}
                </twig:Accordion:Item>
            </twig:Accordion>

            <twig:Accordion label="World Cuisine" id="worldCuisine">
                <twig:Accordion:Item>
                    {{ form_row(form.italian) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.mexican) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.greek) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.chinese) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.japanese) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.french) }}
                </twig:Accordion:Item>
                <twig:Accordion:Item>
                    {{ form_row(form.american) }}
                </twig:Accordion:Item>
            </twig:Accordion>
        </div>
        <div class="lg:w-3/4">
            <div class="flex items-center gap-x-5">
                <div class="flex-1">
                    {{ form_row(form.search) }}
                </div>
                <button class="mt-2 mr-2" data-controller="reset-search" data-action="reset-search#reset"
                        title="Clear Filter">
                    <div class="text-black w-5">{{ ux_icon('trash') }}</div>
                </button>
            </div>
            {% if this.search == null %}
            <div id="recipe-container" data-controller="scroll">
                {% endif %}

                <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-x-10 gap-y-5" id="recipeBody">
                    {{ include('recipe/recipe_items.html.twig') }}
                </div>
                {% if this.search == null %}
            </div>
            {% endif %}

            <div id="loading" style="display: none;">Loading more recipes...</div>

        </div>
    </div>
    {{ form_end(form) }}
</div>
