<div{{ attributes }}>
    {% for  type, messages in app.flashes %}
        {% for message in messages %}
            <twig:Alert
                    type="{{ type }}"
                    message="{{ message }}"/>
        {% endfor %}
    {% endfor %}

    <div class="xl:grid xl:grid-cols-2 gap-x-10 m-auto ">
        <img class="w-full md:w-full  object-cover overflow-hidden m-0 h-96 rounded-2xl"
             src="{{ vich_uploader_asset(recipe, 'image') }}"
             alt="{{ recipe.name }}">

        {# General information #}
        <div>
            <h1 class="text-3xl pt-5 xl:pt-0 font-bold">{{ recipe.name }}</h1>
            <p class="pt-3 max-h-36 h-36 overflow-y-auto">
                {{ recipe.description }}
            </p>
            <div class="grid grid-cols-2 my-5 ">
                <div class="text-center border-r text-gray-800">
                    <div class="w-8 m-auto">{{ ux_icon('clock-regular') }}</div>
                    <p class="py-2 font-semibold text-lg">Total Time</p>
                    <p>{{ recipe.time }} min</p>
                </div>

                {# People dropdown #}
                <div class="text-center cursor-pointer hover:text-red-500 text-gray-800" id="dropdownDefaultButton"
                     data-dropdown-toggle="peopleDropdown">
                    <div class="w-8 m-auto">{{ ux_icon('user-group') }}</div>
                    <p class="py-2 font-semibold text-lg">Yield</p>
                    <div class="flex gap-x-3 items-center justify-center ml-6">
                        <p>Serves <span id="peopleDisplay">{{ people }}</span></p>
                        <div class="w-4 h-4">{{ ux_icon('angle-down') }}</div>
                    </div>
                </div>

                <div id="peopleDropdown"
                     data-controller="dropdown"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20">
                    <ul class="py-2 text-sm text-gray-800" aria-labelledby="dropdownDefaultButton">
                        <li>
                            <span data-action="click->live#action"
                                  data-live-action-param="updatePeople"
                                  data-live-people-param="2"
                                  data-dropdown-target="item"
                                  class="block px-4 py-2 hover:bg-gray-100 text-center">2</span>
                        </li>
                        <li>
                            <span data-action="click->live#action"
                                  data-live-action-param="updatePeople"
                                  data-live-people-param="4"
                                  data-dropdown-target="item"
                                  class="block px-4 py-2 hover:bg-gray-100 text-center">4</span>
                        </li>
                        <li>
                            <span data-action="click->live#action"
                                  data-live-action-param="updatePeople"
                                  data-live-people-param="6"
                                  data-dropdown-target="item"
                                  class="block px-4 py-2 hover:bg-gray-100 text-center">6</span>
                        </li>
                        <li>
                            <span data-action="click->live#action"
                                  data-live-action-param="updatePeople"
                                  data-live-people-param="8"
                                  data-dropdown-target="item"
                                  class="block px-4 py-2 hover:bg-gray-100 text-center">8</span>
                        </li>
                        <li>
                            <span data-action="click->live#action"
                                  data-live-action-param="updatePeople"
                                  data-live-people-param="10"
                                  data-dropdown-target="item"
                                  class="block px-4 py-2 hover:bg-gray-100 text-center">10</span>
                        </li>
                    </ul>
                </div>
            </div>

            <hr>

            {# Created by, Save, Pdf #}
            <div class="flex justify-between mt-3">
                <p>Created by
                    {% if recipe.createdBy == null %}
                        <b>From Fridge to Feast</b>
                    {% else %}
                        <b>{{ recipe.createdBy.firstName }} {{ recipe.createdBy.lastName }}</b>
                    {% endif %}
                </p>

                <div class="flex gap-x-5">
                    {% if app.user %}
                        {% if recipe.createdBy != current_user() %}
                            {% if recipeSavedByUser == null %}
                                <a href="{{ path('recipe_save', {'uuid':recipe.uuid}) }}" title="Save recipe"
                                   data-turbo-prefetch="false"
                                   class="w-4 text-gray-500 hover:text-red-500">{{ ux_icon('bookmark-regular') }}</a>
                            {% else %}
                                <a href="{{ path('recipe_save', {'uuid':recipe.uuid}) }}" title="Save recipe"
                                   data-turbo-prefetch="false"
                                   class="w-4 text-red-500 hover:text-red-400">{{ ux_icon('bookmark') }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <a href="{{ path('recipe_pdf', {'uuid':recipe.uuid, 'people':people}) }}" title="pdf"
                       target="_blank"
                       class="w-5  text-gray-500 hover:text-red-500">{{ ux_icon('print') }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="xl:flex m-auto gap-x-20 pt-5">
        {# Instructions #}
        <div class="xl:w-2/3">
            <twig:Subtitle
                    class="font-semibold mb-3 "
                    label="How to make it"/>
            <div class="ql-content">
                {{ recipe.instructions|raw }}
            </div>
            {# Edit/Delete buttons Desctop #}
            {% if current_user() is not null %}
                {% if current_user() == recipe.createdBy or is_granted('ROLE_ADMIN') %}
                    <div class="hidden xl:flex gap-x-3 mt-5">
                        <twig:Link
                                href="{{ path('recipe_edit', {'uuid':recipe.uuid}) }}"
                                label="Edit recipe"/>
                        <twig:Link
                                data-turbo-prefetch="false"
                                href="{{ path('recipe_delete', {'uuid':recipe.uuid}) }}"
                                label="Delete recipe"
                                variant="white"/>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        {# Ingredient list #}
        <div class="xl:w-1/3 pt-5 xl:pt-0">
            <twig:Subtitle
                    class="font-semibold"
                    label="Ingredients"/>
            <ul class="pt-5">
                {% for ingredient in recipe.recipeIngredients %}
                    <li class="py-4 border-b list-none pl-3">
                        {{ (ingredient.quantity/recipe.people*people)|round(1) }}
                        {{ ingredient.unit ? ingredient.unit.value }}
                        {{ ingredient.ingredient.name }}
                    </li>
                {% endfor %}
            </ul>

            {# Recipte Rating #}
            {% if app.user %}
                <twig:Subtitle
                        tag="h3"
                        label="Rate recipe"
                        class="mt-5"/>

                <div class="flex gap-x-2 pt-3 pb-5"
                     data-controller="rating"
                     data-rating-score-value="{{ score }}"
                     data-rating-uuid-value="{{ recipe.uuid }}">
                    <twig:Star value="0"/>
                    <twig:Star value="1"/>
                    <twig:Star value="2"/>
                    <twig:Star value="3"/>
                    <twig:Star value="4"/>
                </div>
            {% endif %}
        </div>

        {# Edit/Delete buttons mobile #}
        {% if current_user() is not null %}
            {% if current_user() == recipe.createdBy or is_granted('ROLE_ADMIN') %}
                <div class="xl:hidden flex gap-x-3">
                    <twig:Link
                            href="{{ path('recipe_edit', {'uuid':recipe.uuid}) }}"
                            label="Edit recipe"/>
                    <twig:Link
                            data-turbo-prefetch="false"
                            href="{{ path('recipe_delete', {'uuid':recipe.uuid}) }}"
                            label="Delete recipe"
                            variant="white"/>
                </div>
            {% endif %}
        {% endif %}

    </div>
</div>
