{% extends 'base-landing.html.twig' %}

{% block title %}
    Recipes found
{% endblock %}
    {% block body %}
        <div class="relative h-[100vh]">
            <img class="w-full h-full object-cover opacity-50" src="{{ asset('images/landingImg.jpg') }}" alt="">
            <div class="absolute inset-0 flex items-center justify-center z-10 p-4">
                <div class="relative w-full md:w-3/4 lg:w-1/2">
                    <div class="relative rounded-lg shadow bg-white">
                        {# Modal title #}
                        <div class="flex items-center justify-between p-4 border-b rounded-t">
                            <twig:Subtitle tag="h4" label="Recipes for you"/>
                        </div>
                        <div class="p-4">
                            <div id="controls-carousel" class="relative w-full" data-carousel="static">
                                {# Modal Empty Body #}
                                <div class="relative overflow-hidden rounded-lg h-[50vh]  md:h-72">
                                    {% if recipes == null %}
                                        <div class="flex justify-center pt-10 text-xl">
                                            <p>No recipes found</p>
                                        </div>
                                        <div class="flex justify-center pt-5 text-xl">
                                            <twig:Link
                                                    href="{{ path('app_home') }}"
                                                    label="Try again"/>
                                        </div>
                                        <div class="flex justify-center pt-5 text-xl">
                                            <twig:Link
                                                    href="{{ path('recipe_index') }}"
                                                    label="Go to search recipes"
                                                    variant="white"/>
                                        </div>
                                    {% else %}
                                        {# Modal Body #}
                                        {% for recipe in recipes %}
                                            <div class="hidden duration-700 ease-in-out md:px-20 w-full"
                                                 data-carousel-item>
                                                <div class="md:flex md:gap-x-5 w-full pt-5">
                                                    {% if recipe and recipe.image %}
                                                        <div class="md:w-1/2 border">
                                                            <img class="object-cover overflow-hidden h-32 m-auto w-full md:h-52 md:m-0 rounded-xl"
                                                                 src="{{ vich_uploader_asset(recipe, 'image') }}"
                                                                 alt="{{ recipe.name }}">
                                                        </div>
                                                    {% else %}
                                                        <p>No image available</p>
                                                    {% endif %}

                                                    <div class="md:w-1/2">
                                                        <div>
                                                            <h2 class="text-2xl border lg:mb-3">{{ recipe.name }}</h2>
                                                            <p class="border h-20 max-h-20 lg:max-h-44 lg:h-44 overflow-y-auto">
                                                                {{ recipe.description }}
                                                            </p>
                                                            <div class="flex gap-x-3 border lg:pt-3">
                                                                <div class="flex gap-x-2 items-center">
                                                                    <div class="w-4">{{ ux_icon('clock') }}</div>
                                                                    <p>{{ recipe.time }} min</p>
                                                                </div>
                                                                <div class="flex gap-x-2 items-center">
                                                                    <div class="w-4">{{ ux_icon('user-group') }}</div>
                                                                    <p>{{ recipe.people }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="absolute bottom-0 z-50 flex lg:pt-3 gap-x-3 border">
                                                    <twig:Link
                                                            href="{{ path('recipe_show', {'uuid':recipe.uuid}) }}"
                                                            label='Go to recipe'/>
                                                    <twig:Link
                                                            href="{{ path('app_home') }}"
                                                            label='Try again'
                                                            variant="white"/>
                                                </div>
                                            </div>
                                        {% endfor %}

                                        {% if recipes|length > 1 %}
                                            {# Carousel control buttons #}
                                            <button type="button"
                                                    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                                    data-carousel-prev>
                                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/30 hover:bg-gray-300/30 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                                                     aria-hidden="true"
                                                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      stroke-width="2"
                                                      d="M5 1 1 5l4 4"/>
                                                </svg>
                                                <span class="sr-only">Previous</span>
                                                </span>
                                            </button>
                                            <button type="button"
                                                    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                                    data-carousel-next>
                                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/30 hover:bg-gray-300/30 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                                                     aria-hidden="true"
                                                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                                    <path stroke="currentColor" stroke-linecap="round"
                                                          stroke-linejoin="round"
                                                          stroke-width="2"
                                                          d="m1 9 4-4-4-4"/>
                                                </svg>
                                                <span class="sr-only">Next</span>
                                                </span>
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}



