<!doctype html>
<html lang="en">
<head>
    <title>{{ recipe.name }}</title>
</head>
<body>
<table>
    <tr>
        <td style="width: 50%">
            <img src="data:image/png;base64,{{ encodeImage('.' ~ asset('images/' ~ recipe.imageName)) }}"
                 style="width: 320px; height: 208px; object-fit: cover; overflow: hidden; margin: auto; border-radius: 8px; text-align: top;"
                 alt="{{ recipe.name }}">
        </td>
        <td style="width: 50%">
            <div style="width: 100%;">
                <h1 style="font-size: 1.875rem; padding-left: 1.25rem;">
                    {{ recipe.name }}
                </h1>
                <p style="padding-left: 1.25rem; padding-top: 0.75rem; font-size: 1.125rem;">
                    {{ recipe.description }}
                </p>
                <div style="display: flex; justify-content: space-between; padding-left: 1.25rem; padding-top: 0.75rem; font-size: 1.125rem;">
                    <div>{{ recipe.time }} min.</div>
                    <div>Serves {{ people }}</div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 60%; vertical-align: top;">
            <div style="font-size: 1.125rem; padding-top: 2.5rem; text-align: top;">
                {{ recipe.instructions|raw }}
            </div>
        </td>
        <td style="width: 40%">
            <div style="padding-left: 1.25rem; font-size: 1.125rem; padding-top: 1.25rem;">
                <ul>
                    {% for ingredient in recipe.recipeIngredients %}
                        <li style="padding-top: 0.5rem; border-bottom: 1px solid #ccc;">
                            {{ (ingredient.quantity/recipe.people*people)|round(1) }}
                            {{ ingredient.unit ? ingredient.unit.value }}
                            {{ ingredient.ingredient.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
