{% for recipe in recipes %}
    <a href="{{ path('recipe_show', {'uuid':recipe.uuid}) }}"
       class="w-full md:w-1/2 m-auto lg:w-full mb-10 rounded-2xl shadow">
        {% if recipe.imageName %}
            <img class="w-full h-52 object-cover overflow-hidden rounded-t-xl"
                 src="{{ vich_uploader_asset(recipe, 'image') }}" alt="{{ recipe.name }}">
        {% endif %}
        <div class="flex w-1/2 gap-x-2 py-2 px-3 m-auto xl:w-full justify-around">
            <div class="flex gap-x-2 whitespace-nowrap">
                <div class="w-4 self-center">{{ ux_icon('clock') }}</div>
                <p>{{ recipe.time }} min</p>
            </div>
            <div class="flex gap-x-2 whitespace-nowrap">
                <div class="w-4 self-center">{{ ux_icon('star-solid') }}</div>
                <p>{{ recipe.rating['score'] }}({{ recipe.rating['count'] }})</p>
            </div>
            <div class="flex gap-x-2 whitespace-nowrap">
                <div class="w-4 self-center">{{ ux_icon('user-group') }}</div>
                <p>{{ recipe.people }}</p>
            </div>

        </div>
        <h2 class="text-xl w-1/2 font-semibold text-center p-2 xl:w-full  m-auto">{{ recipe.name }}</h2>
        <div class="flex gap-x-2 p-2 rounded">

        </div>
    </a>
{% endfor %}