<{{ tag }}{{ attributes.defaults({
    'class': '' ~ this.extraClasses,
    'href': href
}) }}>
{% if label is defined and label is not empty %}
    <div class="flex gap-x-3 items-center">
        <div>{{ label|raw }}</div>
        {% if icon != null %}
            <div class="w-4 h-4">{{ icon|raw }}</div>
        {% endif %}
    </div>

{% else %}
    {% block content %}{% endblock content %}
{% endif %}
</{{ tag }}>

